In [7]:
import pandas

# Change the header names, and remove the default header within the csv-file
dt = pandas.read_csv('csv_data.csv', names = ['ID', 'Name', 'Price', 'Sales', 'Brand'], skiprows = 1)

# Remove the NaN-values, and keep the changes with 'inplace'
dt.fillna(0, inplace = True)

In [11]:
dt

    ID             Name  Price  Sales          Brand
0  101         biscuits   5.00  227.0      HomeFoods
1  102          cookies   7.25  158.0        TBakery
2  103             cake  12.00   50.0        TBakery
3  104  whey_supplement  34.90   24.0        MusleUp
4  105       soft_drink   0.00    0.0           Kola
5  106     potato_chips   1.75  121.0      HomeFoods
6  107          noodles   0.99    0.0  InstantNoodle
7  108     protein_bars   4.90   85.0        MusleUp

In [13]:
# Get the sum value of all sales
dt['Sales'].sum()

665.0

In [14]:
# Retrieve the minimum value sale
dt['Sales'].min()

0.0

In [15]:
# Retrieve the maximum value sale
dt['Sales'].max()

227.0

In [17]:
# Find the average sales amount (mean), and round up to two decimal places
round(dt['Sales'].mean(), 2)

83.12

In [18]:
# Find the median value of sales
dt['Sales'].median()

67.5

In [19]:
# Find the most occuring element within Sales
dt['Sales'].mode()

0    0.0
dtype: float64

In [21]:
# Find the range of values within Sales (maximum - minimum)
dt['Sales'].max() - dt['Sales'].min()

227.0

In [24]:
analytics = pandas.DataFrame({'Total Sales': dt['Sales'].sum(),
                              'Average Sale': dt['Sales'].mean(),
                              'Maximum Sale': dt['Sales'].max()}, 
                             index = [1])
analytics

   Total Sales  Average Sale  Maximum Sale
1        665.0        83.125         227.0

In [25]:
# Use the describe-method instead, to get standard information of data
dt.describe()

              ID     Price       Sales
count    8.00000   8.00000    8.000000
mean   104.50000   8.34875   83.125000
std      2.44949  11.40183   81.202459
min    101.00000   0.00000    0.000000
25%    102.75000   1.56000   18.000000
50%    104.50000   4.95000   67.500000
75%    106.25000   8.43750  130.250000
max    108.00000  34.90000  227.000000