# Import data from csv-file

In [2]:
import pandas
data_dir = 'csv_data.csv'

dt = pandas.read_csv(data_dir)
dt

    id             name  price  sales      brand
0  101         biscuits   5.00    227  HomeFoods
1  102          cookies   7.25    158    TBakery
2  103             cake  12.00     50    TBakery
3  104  whey_supplement  34.90     24    MusleUp
4  105     protein_bars   4.90     85    MusleUp
5  106     potato_chips   1.75    121  HomeFoods

In [3]:
dt.values

array([[101, 'biscuits', 5.0, 227, 'HomeFoods'],
       [102, 'cookies', 7.25, 158, 'TBakery'],
       [103, 'cake', 12.0, 50, 'TBakery'],
       [104, 'whey_supplement', 34.9, 24, 'MusleUp'],
       [105, 'protein_bars', 4.9, 85, 'MusleUp'],
       [106, 'potato_chips', 1.75, 121, 'HomeFoods']], dtype=object)

# Import data from json-file

In [4]:
data_dir = 'json_data.json'
dt = pandas.read_json(data_dir)
dt

    id             name  price  sales      brand
0  101         biscuits   5.00    227  HomeFoods
1  102          cookies   7.25    158    TBakery
2  103             cake  12.00     50    TBakery
3  104  whey_supplement  34.90     24    MusleUp
4  105     protein_bars   4.90     85    MusleUp
5  106     potato_chips   1.75    121  HomeFoods

# Import data from excel-file

In [5]:
data_dir = 'xlsx_data.xlsx'
dt = pandas.read_excel(data_dir)
dt

    id             name  price  sales      brand
0  101         biscuits   5.00    227  HomeFoods
1  102          cookies   7.25    158    TBakery
2  103             cake  12.00     50    TBakery
3  104  whey_supplement  34.90     24    MusleUp
4  105     protein_bars   4.90     85    MusleUp
5  106     potato_chips   1.75    121  HomeFoods