In [5]:
import pandas

data = pandas.read_csv('email.csv')
data

data = data[['Identifier', 'First name', 'Last name', 'Login email']]
data['Name'] = data['First name'] + data['Last name']
del(data['First name'])
del(data['Last name'])
data

   Identifier         Login email          Name
0        2070      laura@that.com     LauraGrey
1        4081      craig@this.com  CraigJohnson
2        9346      mary@which.com   MaryJenkins
3        5079  jamie@somethin.com    JamieSmith